@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
body {
  font-family: "Jost", sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 5.75rem;
  color: var(--Text-primary);
}
li {
  list-style: none;
  font-size: 24px;
  line-height: 34.68px;
  color: var(--Dark-primary);
  cursor: pointer;
}
span {
  font-size: 36px;
  font-weight: 700;
  line-height: 52.02px;
  color: var(--Button-Primary);
}
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 69.36px;
  color: var(--Text-primary);
}
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34.68px;
  color: var(--Text-primary);
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.01px;
  color: var(--Dark-primary);
}
.app {
  overflow: hidden;
  width: min-content;
  margin-inline: auto;
}

/* *** Styling the menue for the version desktop  **** */
.app__menue {
  padding: 2.25rem 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-primary);
}
.menue__links ul {
  display: flex;
  width: 100%;
  gap: 64px;
  align-items: flex-start;
}

.menue__Buttons {
  padding: 17px 50px;
  background-color: var(--white-primary);
  border-radius: 20px;
  color: var(--Button-Primary);
  cursor: pointer;
  line-height: 26px;
}

/* ***** Styling the header for the verion Desktop **** */
.app__header {
  padding: 0rem 10rem 0rem;
  background-color: var(--white-primary);
  display: flex;
  flex-direction: row;
  width: 100%;
}
.header__left,
.header__right {
  flex-basis: 50%;
}
.header__left {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.header__left h1 {
  padding-top: 5rem;
}

.left__button {
  display: flex;
  flex-direction: row;
  gap: 1.875 rem;
  align-items: center;
  text-align: center;
}

.left__button div:nth-child(1) {
  background-color: var(--Button-Primary);
  padding: 1rem 1.4rem;
  color: var(--white-primary);
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.93rem;
}

.left__button div:nth-child(2) {
  padding: 1rem 1.4rem;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  gap: 1.5rem;
  color: var(--Dark-primary);
}
.left__button div:nth-child(1) img {
  background-color: var(--white-primary);
  border-radius: 5px;
  padding: 0.75rem 0.43rem;
}
.left__button div:nth-child(2) img {
  background-color: var(--Button-Primary);
  border-radius: 50%;
  padding: 0.8rem 0.8rem;
}
.header__right {
  position: relative;
  top: 0;
}
.header__right img {
  width: 100%;
}

/* *** Styling the clinet Desktop version *** */

.content__client {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
}

.content__client > img {
  padding-left: 5rem;
}

.content__marketing {
  padding-bottom: 7.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}

.marketing__left {
  margin-left: 5rem;
}

.marketing__right {
  width: 60%;
}
.detaill {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 1.25rem;
  padding-top: 2.5rem;
}
.detaill img {
  width: 50px;
  height: 50px;
}
.detaill > div {
  display: flex;
  justify-content: first baseline;
  align-items: flex-start;
  gap: 1.25rem;
}

.image__planner {
  padding: 1.125rem;
  background-color: var(--green);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.image__notification {
  padding: 1.125rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--background-pink);
}
.image__shoping {
  padding: 1.125rem;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--vieolet);
}

/* Styling the content Business */

.content__business {
  text-align: center;
  display: flex;
  padding: 5rem 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content__business > h2 {
  width: 40%;
}
.content__business > p {
  width: 30%;
  padding: 1.25rem 0 2.5rem;
}
.busniness_detaill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;

  text-align: start;
}
.busniness_detaill > div {
  border-radius: 20px;
  width: 360px;
  height: 360px;
  padding: 1.875rem;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
}
.busniness_detaill img {
  padding: 1rem;
}
.busniness_detaill > div:nth-child(1) {
  box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.15);
}
.busniness_detaill > div:nth-child(2) {
  border: 2px solid #3e3fd8;
  box-shadow: 0px 65px 150px 10px rgba(125, 131, 252, 0.25);
}
.busniness_detaill > div:nth-child(3) {
  box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.15);
}
.image__scheduling {
  background-color: var(--green);
  box-shadow: 0px 26px 50px rgba(80, 203, 147, 0.25);
  border-radius: 10px;
  width: max-content;
}
.image__Bitcoin {
  background-color: var(--vieolet);
  box-shadow: 0px 26px 50px rgba(125, 131, 252, 0.25);
  border-radius: 10px;
  width: max-content;
}
.image__Pie {
  background-color: var(--background-pink);
  box-shadow: 0px 26px 50px rgba(255, 61, 104, 0.25);
  border-radius: 10px;
  width: max-content;
}

.read_more {
  margin-top: 1.25rem;
  color: var(--Button-Primary);
  font-weight: 600;
  line-height: 26.01px;
  cursor: pointer;
}

/* ** Styling the Content Solution *****/
.content__solution {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: 50% auto;
}
.solution__left {
  margin-top: 9rem;
}

.solution__left > p {
  padding: 1.25rem 0 2.5rem;
}
.client__Totale {
  display: flex;
  gap: 1.25rem;
}
.client,
.project {
  text-align: center;
  background: rgba(252, 221, 236, 0.5);
  border-radius: 25px;
  padding: 0.75rem 2.31rem;
}
.client__Totale span {
  font-size: 48px;
}
.client > span:nth-child(1) {
  color: var(--background-pink);
}

.project > span:nth-child(2) {
  color: var(--Dark-primary);
}

.content__aboutUs {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__aboutUs > span {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.5em;
  color: #3e3fd8;
}
.content__aboutUs > h2 {
  padding-bottom: 1.25rem;
  padding-bottom: 2.5rem;
}
.about_testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
.about_testimonials > div {
  padding: 2.5rem 1.25rem;
}

.about_testimonials > div:nth-child(1) {
  background: #ffffff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}
.about_testimonials > div:nth-child(2) {
  border: 2px solid #3e3fd8;
  box-shadow: 4px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

.about_testimonials > div:nth-child(3) {
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

.testimonials__header {
  display: flex;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
}

/* **** Styling the content news version Desktop ***** */

.content__news {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.content__news > p {
  padding: 1.25rem 0 5rem;
  text-align: center;
  width: 45%;
}
.news_detaills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.news_detaills > div {
  padding: 1.25rem;
  border: 2px solid #3e3fd8;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.news_detaills > div:nth-child(2) {
  border: 2px solid #3e3fd8;
  box-shadow: 4px 20px 100px rgba(62, 63, 216, 0.25);
  border-radius: 20px;
}
.detaill_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.06rem 0 1.31rem;
}
.left,
.right {
  display: flex;
  align-items: center;
  gap: 0.31rem;
}

.app__newsLettre {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.app__newsLettre > span {
  color: var(--Button-Primary);
  font-size: 1.5em;
  padding-bottom: 1.25rem;
  line-height: 4.25rem;
  font-weight: 400;
}

.app__newsLettre > p {
  text-align: center;
  width: 45%;
  padding: 1.25rem 0 2.5rem 0;
}
.newsLettre__form {
  display: flex;
  flex-direction: row;
  width: 65%;
  padding: 4px;
  border: 1px solid var(--Text-primary);
  border-radius: 3.125rem;
}
input {
  border-radius: 3.125rem;
  border: none;
  flex-grow: 2;
  padding: 1.18rem 2.4rem;
  font-size: 24px;
}
input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}
.form__button {
  background-color: var(--Button-Primary);
  border-radius: 3.125rem;
  color: var(--white-primary);
  padding: 1.18rem 1.25rem;

  cursor: pointer;
}
